<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${members} and ${members.size()}">no members!</p>

<div class="container body-content">
    <h2>Members</h2>

    <ul>
        <li th:each="member : ${members}">
            <p th:text = "${member.name}"></p>
            <p th:text = "${member.phoneNumber}"></p>
            <p th:text = "${member.email}"></p>
        </li>
        <a th:href="@{'/members/add'}">Add Member</a>



    </ul>







</div>

</body>
</html>