<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>



<h1>Welcome [[${#httpServletRequest.remoteUser}]] to your Ministry page!</h1>

<form method="post" style="max-width:600px;">

    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%238E24AA&amp;ctz=America%2FChicago&amp;src=bWluaXN0cnl0cmFja2VydGVzdHVzZXJAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;title=Spirit%20of%20Love%20Ministry%20Events" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>







    <p>Click <a th:href="@{/members}">here</a> to view and add ministry members.</p>
    <p>Click <a th:href="@{/todo}">here</a> to view and add ministry todo list.</p>




</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>