<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<!h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h2>Hello [[${#httpServletRequest.remoteUser}]]!</h2>

<p th:unless="${todo} and ${todo.size()}">no todo items!</p>


    <!--<div class="container body-content">-->
    <!--<label class="label"> -->
        <h2>Todo Items</h2>

        <ul>
            <li th:each="todoItem : ${todo}">
              <!--<p th:text = "${todoItem.name}"></p>-->
                <input type="checkbox" name="checkbox"value="${todoItem.name}">
                <label th:text="${todoItem.name}">Test</label>
                <!--<input type="checkbox" name="checkbox"value="text">
                <label th:text = "${todoItem.name}"></label> -->
                <p th:text = "${todoItem.date}"></p>
                <p th:text = "${todoItem.taskDetails}"></p>
            </li>
            <a th:href="@{'/todo/add'}">Add Todo Item</a>

        </ul>
   <!-- </label>-->
    </div>



<p> <a th:href="@{/landingScreen}">Ministry Home</a> </p>
</body>
</html>